body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  

div.header1 {
  background-color: #20639b
} 

div.nav {
  background-color: #ed553b;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
} 

div.section {
background-color: #008000;
} 

div.aside {
  background-color: #808080;

} 

div.article {
  background-color: #FFFF00;

} 

div.footer {
  background-color: #800080;

} 

div.ylaala {
background-color: #20639b;
  padding: 15px;
  
  } 
